.section-about {
  background: $grey-z;
  padding: 7rem;
  @include responsive(1200) {
    padding: 4rem;
  }
  .about-content {
    padding: 4rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @include responsive(700) {
      flex-direction: column;
      align-items: center;
    }
    &__text {
      max-width: 70rem;
      @include responsive(1150) {
        max-width: 50rem;
      }
      @include responsive(700) {
        margin-bottom: 4rem;
      }
    }
    &__paragraph {
      text-align: justify;
      margin-bottom: 4rem;
    }
    &__btn {
      &:hover {
        background: $white;
        color: $color-primary;
        border: 1px solid $color-primary;
      }
    }
  }
}
.section-campgrounds {
  background: $grey-y;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  .cards {
    padding: 3rem;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    & > * {
      margin-left: 3rem;
      margin-bottom: 3rem;
    }
  }
  &__btn {
    align-self: center;
    // margin: 1rem auto;
  }
}
.section-register {
  padding-top: 12rem;
}
.section-newcamp {
  padding-top: 11rem;
}
