.btn{
	&,
	&:link,
	&:visited{
		text-decoration: none;
		color: $white;
		font-size: 2rem;
		text-transform: capitalize;
		border: none;
		border-radius: 1rem;
		display: inline-block;
		padding: .5rem 2rem;
		cursor: pointer;
		box-shadow: $shadow-s;
		transition: $transition-s;
	}
	&:hover{
		transform: scale(.95);
	}
	&:active,
	&:focus{
		background: $color-primary-d;
	}
	&--primary{
		background: $color-primary;
	}
	&--secondary {
		background: $color-secondary;
		&:hover{
			background: $color-secondary-l;
		}
	}
}